{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block title %}{{article.article_title}}{% endblock %}

{% block content %}
<h2>{{article.article_title}}</h2>

<p>{{article.article_text}}</p>

<em>{{article.pub_date}} by {{article.author_name}}</em>


{% if request.user.username == 'admin' or request.user.username == article.author_name %}
<form action="{% url 'main_page:delete_article' article.id %}" method="get">
    {% csrf_token %}

    <button type="submit">Delete</button>

</form>
{% endif %}
<hr>
{% if l %}
    {% for c in l %}
        <p>
            <strong>{{c.author_name}}</strong>
            <p>{{c.comment_text}}</p>
            <em>{{c.pub_date}}</em>
            {% if request.user.username == 'admin' or request.user.username == c.author_name %}
            <form action="{% url 'main_page:delete_comment' c.id  %}" method="get">
                {% csrf_token %}

                 <button type="submit">Delete</button>

            </form>
{% endif %}
        </p>
    {% endfor %}
{% endif %}
<hr>
{% if user.is_authenticated %}
<form action="{% url 'main_page:leave_comment' article.id %}" method="POST">
    {% csrf_token %}

    <textarea name="text" required="" placeholder="Comment text" cols="30" rows="10"></textarea><br>
    <button type="submit">Leave comment</button>

</form>
{% endif %}
{% endblock %}
